[data-bs-theme="light"] {
	--theme-primary: #3772ff;
	--theme-on-surface: #23262f;
	--theme-secondary: #777e90;
	--theme-secondary2: #b1b5c3;
	--theme-surface: #f7f7f7;
	--theme-surface-main: #ffffff;
	--theme-interactive: #2e72d2;
	--theme-critical: #ef466f;
	--theme-warning: #fabe3c;
	--theme-success: #58bd7d;
	--theme-highlight: #1e58c8;

	--bs-primary: var(--theme-primary);
	--bs-secondary: var(--theme-secondary);
	--bs-success: var(--theme-success);
	--bs-warning: var(--theme-warning);
	--bs-danger: var(--theme-critical);
	--bs-info: var(--theme-interactive);

	--bs-body-bg: var(--theme-surface-main);
	--bs-body-color: var(--theme-on-surface);

	--bs-tertiary-bg: var(--theme-surface);
	--bs-light-bg-subtle: var(--theme-surface);
	--bs-light: var(--theme-surface);
	--bs-light-rgb: 247, 247, 247;

	--bs-secondary-color: var(--theme-secondary);
	--bs-emphasis-color: var(--theme-on-surface);
	--bs-body-secondary-color: var(--theme-secondary2);

	--bs-border-color: #e6e8ec;

	--bs-white: var(--theme-surface-main);
	--bs-white-rgb: 255, 255, 255;

	.bg-white {
		background-color: var(--theme-surface-main) !important;
	}

	.text-muted {
		color: var(--theme-secondary) !important;
	}
}

[data-bs-theme="dark"] {
	--theme-primary: #3772ff;
	--theme-on-surface: #fcfcfd;
	--theme-secondary: #b1b5c3;
	--theme-secondary2: #777e90;
	--theme-surface: #23262f;
	--theme-surface-main: #141416;
	--theme-interactive: #5a9bff;
	--theme-critical: #ff6a8a;
	--theme-warning: #ffd166;
	--theme-success: #7dd99e;
	--theme-highlight: #4a80e3;

	--bs-primary: var(--theme-primary);
	--bs-secondary: var(--theme-secondary);
	--bs-success: var(--theme-success);
	--bs-warning: var(--theme-warning);
	--bs-danger: var(--theme-critical);
	--bs-info: var(--theme-interactive);

	--bs-body-bg: var(--theme-surface-main);
	--bs-body-color: var(--theme-on-surface);

	--bs-tertiary-bg: var(--theme-surface);
	--bs-light-bg-subtle: var(--theme-surface);
	--bs-light: var(--theme-surface);
	--bs-light-rgb: 35, 38, 47;

	--bs-secondary-color: var(--theme-secondary);
	--bs-emphasis-color: var(--theme-on-surface);
	--bs-body-secondary-color: var(--theme-secondary2);

	--bs-border-color: var(--theme-secondary2);

	--bs-white: var(--theme-surface-main);
	--bs-white-rgb: 20, 20, 22;

	.bg-white {
		background-color: var(--theme-surface-main) !important;
	}

	.text-muted {
		color: var(--theme-secondary) !important;
	}
}
